<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content> 
<div style="background: rgba(29,44,255,1);height: 100%;">

  <ion-grid style="text-align: center;color:#000; padding: 20px; background-color: #fff;border: 3px solid #fff; 
  border-radius: 0px 0px 60px 60px; min-height: 300px;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.11);
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.11);">
    <ion-row>
      <ion-col>
        <img src="../../../assets/LTKPrac.svg" style="margin-left: 15px;" /> 
        <br>
        <br>
        <span class="volanta">
        Bienvenido al nuevo sistema de 
        <br>
        practicaje 100% online.
        </span>
        <br>
        <br>
        <br> 
        <span class="nombre-editor">
          Complete con sus datos para ingresar.
        </span>
        <br>
        <ion-icon name="arrow-down" color="Primary" size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="bglogin">
    <!-- <ion-row>
      <ion-col>
        <div text-center class="logo-login">
           <img src="../../../assets/LTKPrac.svg" style="max-width: 75%;" /> 
        </div>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <form #form="ngForm" (ngSubmit)="login(form)" style="width: 100%;margin-left: 30px;margin-right: 30px;margin-top: 30px;">
        <!--<ion-grid style="padding-top: 100px;padding-left: 30px;padding-right: 30px;">-->
          <!--<ion-row color="primary" justify-content-center>-->
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" >
              <div padding>
                <ion-item>
                  <ion-input name="login" type="login" placeholder="usuario" ngModel required ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" ngModel required ></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" color="light" >INGRESAR</ion-button>
              </div>
            </ion-col>
          <!--</ion-row>-->
        <!--</ion-grid>-->
      </form>
    </ion-row>
     
  </ion-grid>

</div>   
</ion-content>
