<!--<ion-header>
  <ion-toolbar>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <!-- // OPEN CABECERA \\ -->
  <ion-grid class="ion-align-items-left grid-cabecera" slot="fixed">
    <ion-row class="cabecera">
      <ion-col size="2" size-sm style="margin-right: 0px;">
        <ion-back-button class="boton-volver" icon="assets/img/chevron-compact-left.svg" defaultHref="tabs/home">
        </ion-back-button>
      </ion-col>
      <ion-col size="10" size-lg>
        <p class="cab-line1">MENSAJES Y</p>
        <p class="cab-line2">NOTIFICACIONES</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- \\ CLOSE CABECERA // -->

  <ion-grid style="padding-top: 100px;">
    <ion-row *ngFor="let mensaje of mensajes" class="card-mensajes">
      <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-label class="card-notificaciones-tit">{{ mensaje.titulo}}</ion-label>
          <div class="card-notificaciones-txt card-notificaciones-div-footer" [ngStyle]=" !mensaje.fechaVisto ?{'color': 'blue'} : {'background-color': 'white'} ">
            {{ mensaje.descripcion}}
            <!--<button (click)="opepdf(mensaje.tk_id)" class="bot-full" *ngIf="mensaje.tk_id != 0">
              Ver
            </button>-->
          </div>
          <div class="card-notificaciones-det">
            ENVIADO POR <span class="card-notificaciones-det-user">{{ mensaje.emisor_name}}</span>
            <br>
            {{ mensaje.fecha | date: 'dd/MM/yyyy H:mm' }}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
   
    </ion-row>
  </ion-grid>
</ion-content>