<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="openMenu()"> <!-- tab="info" -->
      <ion-icon name="menu-outline" style="font-size: 40px; color: #1D2CFF; "></ion-icon>
      <!--<ion-menu-button color="primary"></ion-menu-button>-->
      <!-- <img src="assets/img/menu-outline.svg" (click)="openMenu()"> -->
      <!--<ion-icon name="car-sport-outline" (click)="openFirst()"></ion-icon>-->
<!--<ion-label>Home</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img src="assets/img/house.svg">
      <!--<ion-label>Servicio</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="servicio">
      <img src="assets/img/cursor.svg">
      <!--<ion-label>Mensajes</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="mensaje">
      <img src="assets/img/app-indicator.svg">
      <!--<ion-label>Mensajes</ion-label>-->
    </ion-tab-button>
    <div *ngIf="NetworkStatus!=null">
      <div *ngIf="NetworkStatus.connected"> 
      <!-- PONER ICONO ACA TIENE CONEXION-->
      C:SI
    </div>
    <div *ngIf="!NetworkStatus.connected"> 
      <!-- PONER ICONO ACA NO TIENE CONEXION-->
      C:NO
    </div>
  </div>
  </ion-tab-bar>

</ion-tabs>
