<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Servicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<div *ngIf="mensajeSinServicio!='';then mensajeContent else formContent">here is ignored</div>    
<ng-template #mensajeContent>{{mensajeSinServicio}}</ng-template>
<ng-template #formContent>


  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">codigo</ion-label>
        <ion-input formControlName="codigo" type="text" readonly='true' ></ion-input>
      </ion-item>

<!--      
      <ion-item>
        <ion-label position="floating">Razon Social</ion-label>
        <ion-input formControlName="clienteRazonSocial" type="text"  readonly='true'>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">fechaPedido</ion-label>
        <ion-input formControlName="fechaPedido" type="text" readonly='true'>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buqueNombre</ion-label>
        <ion-input formControlName="buqueNombre" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buqueCoeficiente</ion-label>
        <ion-input formControlName="buqueCoeficiente" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buqueEslora</ion-label>
        <ion-input formControlName="buqueEslora" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buqueManga</ion-label>
        <ion-input formControlName="buqueManga" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buquePuntal</ion-label>
        <ion-input formControlName="buquePuntal" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buqueSenial</ion-label>
        <ion-input formControlName="buqueSenial" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">buqueBandera</ion-label>
        <ion-input formControlName="buqueBandera" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

     
      <ion-item>
        <ion-label position="floating">practico1Nombre</ion-label>
        <ion-input formControlName="practico1Nombre" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">practico2Nombre</ion-label>
        <ion-input formControlName="practico2Nombre" type="text" readonly='true'>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">lugarDesde</ion-label>
        <ion-input formControlName="lugarDesde" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">lugarHasta</ion-label>
        <ion-input formControlName="lugarHasta" type="text"  readonly='true' >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">lugarKilometros</ion-label>
        <ion-input formControlName="lugarKilometros" type="text"  readonly='true' >
        </ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating">fechaInicio</ion-label>
        <ion-datetime  formControlName="fechaInicio" displayFormat="DD/MM/YYYY HH:mm" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">fechaFin</ion-label>
        
          <ion-datetime formControlName="fechaFin" displayFormat="DD/MM/YYYY HH:mm" required></ion-datetime>

       
      </ion-item>


      <ion-item>
        <ion-label position="floating">calado_Proa</ion-label>
        <ion-input formControlName="calado_Proa" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">calado_Popa</ion-label>
        <ion-input formControlName="calado_Popa" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">cabotaje</ion-label>
        <!-- <ion-input formControlName="cabotaje" type="text" required>
        </ion-input> -->
        <ion-checkbox formControlName="cabotaje"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label position="floating">observacion</ion-label>
        <ion-input formControlName="observacion" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">taraBruta</ion-label>
        <ion-input formControlName="taraBruta" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">taraNeta</ion-label>
        <ion-input formControlName="taraNeta" type="number" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">canal</ion-label>
        <ion-input formControlName="canal" type="text" required>
        </ion-input>
      </ion-item>
      <ion-input type="hidden" formControlName="propietario" ></ion-input>
      <ion-row>
        <ion-col >
          
          <ion-button  *ngIf="EsPropietario"  type="submit" color="primary" shape="full" expand="block">
            Actualizar servicio
          </ion-button>
        
        </ion-col>
      </ion-row>
    </form>
    <ion-button *ngIf="!mostrarEliminarFirmas" (click)="Firmar();" color="primary" shape="full" expand="block">
       Firmar
    </ion-button>
    <ion-button *ngIf="mostrarEliminarFirmas" (click)="LimpiarFirmas();" color="primary" shape="full" expand="block">
      limpiar Firmas
    </ion-button>
    <!-- NO VA EL BOTON DROP; ES PARA DESARROLLO -->
     <!-- <ion-button (click)="drop();" color="primary" shape="full" expand="block">
      drop
    </ion-button>  -->
    </ion-list>

</ng-template>
</ion-content>