<ion-content>
  <div *ngIf="mensajeSinServicio!='';then mensajeContent else formContent">here is ignored</div>
  <ng-template #mensajeContent>{{mensajeSinServicio}}</ng-template>
  <ng-template #formContent>

  <!-- // OPEN CABECERA \\ -->
  <ion-grid class="ion-align-items-left grid-cabecera" slot="fixed">
    <ion-row class="cabecera">
      <ion-col size="2" size-sm style="margin-right: 0px;">
        <ion-back-button class="boton-volver" icon="assets/img/chevron-compact-left.svg" defaultHref="home">
        </ion-back-button>
      </ion-col>
      <ion-col size="10" size-lg>
      
        <p class="cab-line1">SERVICIO</p>
        <p class="cab-line2-servicio">{{serviciodesdeApi.codigo}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- \\ CLOSE CABECERA // -->


    <ion-list lines="full" style="padding-top: 100px;">
      <form [formGroup]="mainForm" (ngSubmit)="storeData()">

        <!-- // OPEN CARD \\ -->
        <div id="card-servicio-interna">
          <p class="labels">Buque</p>
          <p class="card-buque-interna">
            <ion-input formControlName="buqueNombre" type="text" readonly='true'></ion-input>
          </p>
          <p class="labels">Desde</p>
          <p class="card-info-interna">
            <ion-input formControlName="lugarDesde" type="text" readonly='true'>
            </ion-input>
          </p>
          <p class="labels">Hasta</p>
          <p class="card-info-interna">
            <ion-input formControlName="lugarHasta" type="text" readonly='true'>
            </ion-input>
          </p>
        </div>

        
        <ion-item>
          <ion-label position="floating" class="labels">Razón Social</ion-label>
          <ion-input formControlName="clienteRazonSocial" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Solicitado para</ion-label>
          <ion-input formControlName="fechaPedido" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <!--
        <ion-item>
          <ion-label position="floating">buqueNombre</ion-label>
          <ion-input formControlName="buqueNombre" type="text" readonly='true'>
          </ion-input>
        </ion-item>
        -->

        <ion-item>
          <ion-label position="floating" class="labels">Coeficiente</ion-label>
          <ion-input formControlName="buqueCoeficiente" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Eslora</ion-label>
          <ion-input formControlName="buqueEslora" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Manga</ion-label>
          <ion-input formControlName="buqueManga" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Puntal</ion-label>
          <ion-input formControlName="buquePuntal" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Señal</ion-label>
          <ion-input formControlName="buqueSenial" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Bandera</ion-label>
          <ion-input formControlName="buqueBandera" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Práctico 1</ion-label>
          <ion-input formControlName="practico1Nombre" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Práctico 2</ion-label>
          <ion-input formControlName="practico2Nombre" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <!--
        <ion-item>
          <ion-label position="floating">lugarDesde</ion-label>
          <ion-input formControlName="lugarDesde" type="text" readonly='true'>
          </ion-input>
        </ion-item>
      -->
        <!--
        <ion-item>
          <ion-label position="floating">lugarHasta</ion-label>
          <ion-input formControlName="lugarHasta" type="text" readonly='true'>
          </ion-input>
        </ion-item>
      -->
        <ion-item>
          <ion-label position="floating" class="labels">Kilometros</ion-label>
          <ion-input formControlName="lugarKilometros" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Fecha de Inicio</ion-label>
          <ion-datetime formControlName="fechaInicio" displayFormat="DD/MM/YYYY HH:mm" required class="info-grid"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Fecha de Fin</ion-label>
          <ion-datetime formControlName="fechaFin" displayFormat="DD/MM/YYYY HH:mm" required class="info-grid"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Proa</ion-label>
          <ion-input formControlName="calado_Proa" type="text" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Popa</ion-label>
          <ion-input formControlName="calado_Popa" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Cabotaje</ion-label>
          <!-- <ion-input formControlName="cabotaje" type="text" required>
        </ion-input> -->
          <ion-checkbox formControlName="cabotaje"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Observación</ion-label>
          <ion-input formControlName="observacion" type="text" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Tara Bruta</ion-label>
          <ion-input formControlName="taraBruta" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Tara Neta</ion-label>
          <ion-input formControlName="taraNeta" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Canal</ion-label>
          <ion-input formControlName="canal" type="text" required class="info-grid">
          </ion-input>
        </ion-item>
        <ion-input type="hidden" formControlName="propietario"></ion-input>
        <ion-row *ngIf="EsPropietario">
          <ion-col>

            <ion-button type="submit" class="bot-full">
              Actualizar
            </ion-button>
            <!--
            <ion-button type="submit" color="primary" shape="full" expand="block">
              Actualizar servicio
            </ion-button>
            -->
            <ion-button *ngIf="!mostrarEliminarFirmas" (click)="Firmar();" class="bot-full">
              Firmar
            </ion-button>
            <ion-button *ngIf="mostrarEliminarFirmas" (click)="LimpiarFirmas();" class="bot-full">
              Limpiar Firmas
            </ion-button>
          </ion-col>
        </ion-row>
      </form>

      <!-- NO VA EL BOTON DROP; ES PARA DESARROLLO -->
      <!-- <ion-button (click)="drop();" color="primary" shape="full" expand="block">
      drop
    </ion-button>  -->
    </ion-list>

  </ng-template>
</ion-content>