<ion-content>


  <!-- // OPEN CABECERA \\ -->
  <ion-grid class="ion-align-items-left grid-cabecera" slot="fixed">
    <ion-row class="cabecera">
      <ion-col size="2" size-sm style="margin-right: 0px;">
        <ion-back-button class="boton-volver" icon="assets/img/chevron-compact-left.svg" defaultHref="tabs/home">
        </ion-back-button>
      </ion-col>
      <ion-col size="10" size-lg>

        <p class="cab-line1">SERVICIO</p>
        <p class="cab-line2-servicio">{{ServicioCodigo}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- \\ CLOSE CABECERA // -->

  <div *ngIf="mensajeSinServicio!='';then mensajeContent else formContent">here is ignored</div>
  <ng-template #mensajeContent>
    <p
      style="background-color:rgb(224, 224, 224); padding:20px; margin-top: 100px; border-radius: 20px; text-align: center; width: 100%;">
      {{mensajeSinServicio}}</p>
  </ng-template>
  <ng-template #formContent>

    <ion-list lines="full" style="padding-top: 100px;">
      <form [formGroup]="mainForm" (ngSubmit)="storeData()">

        <!-- // OPEN CARD \\ -->
        <div id="card-servicio-interna">
          <p class="labels">Buque</p>
          <p class="card-buque-interna">
            <ion-input formControlName="buqueNombre" type="text" readonly='true'></ion-input>
          </p>
          <p class="labels">Desde</p>
          <p class="card-info-interna">
            <ion-input formControlName="lugarDesde" type="text" readonly='true'>
            </ion-input>
          </p>
          <p class="labels">Hasta</p>
          <p class="card-info-interna">
            <ion-input formControlName="lugarHasta" type="text" readonly='true'>
            </ion-input>
          </p>
        </div>

        <br><br>

        <ion-item>
          <ion-label position="floating" class="labels">Razón Social</ion-label>
          <ion-input formControlName="clienteRazonSocial" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Solicitado para</ion-label>
          <ion-input formControlName="fechaPedido" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Coeficiente</ion-label>
          <ion-input formControlName="buqueCoeficiente" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Eslora</ion-label>
          <ion-input formControlName="buqueEslora" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Manga</ion-label>
          <ion-input formControlName="buqueManga" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Puntal</ion-label>
          <ion-input formControlName="buquePuntal" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Señal</ion-label>
          <ion-input formControlName="buqueSenial" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Bandera</ion-label>
          <ion-input formControlName="buqueBandera" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Práctico 1</ion-label>
          <ion-input formControlName="practico1Nombre" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Práctico 2</ion-label>
          <ion-input formControlName="practico2Nombre" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating" class="labels">Kilometros</ion-label>
          <ion-input formControlName="lugarKilometros" type="text" readonly='true' class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item button="true" id="open-date-input-fechaABordo">
          <ion-label>Práctico A Bordo</ion-label>
          <ion-text slot="end">{{ fechaABordoTemp | date: 'dd/MM/yyyy HH:mm'  }}</ion-text>
          <ion-popover trigger="open-date-input-fechaABordo" show-backdrop="true" class="dateTimePopover" side="top"  
          style="background: #00000059;" > <!-- side="top" alignment="start" -->
            <ng-template>
              <ion-datetime    displayFormat="DD/MM/YYYY HH:mm" showDefaultButtons=true  
              cancelText="cancelar" doneText="aceptar" locale="es-AR" 
              #popoverDatetimefechaABordoTemp presentation="time-date"
                (ionChange)="fechaABordoTemp = popoverDatetimefechaABordoTemp.value;"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        

      <ion-item button="true" id="open-date-input-FechaInicioNavegacionTemp">
        <ion-label>Inicio de Navegación</ion-label>
        <ion-text slot="end">{{ FechaInicioNavegacionTemp | date: 'dd/MM/yyyy HH:mm'  }}</ion-text>
        <ion-popover trigger="open-date-input-FechaInicioNavegacionTemp" show-backdrop="false" class="dateTimePopover" side="top" 
        alignment="start" style="background: #00000059;" >
          <ng-template>
            <ion-datetime    displayFormat="DD/MM/YYYY HH:mm" showDefaultButtons=true 
             cancelText="cancelar" doneText="aceptar" locale="es-AR"
              #popoverDatetimeFechaInicioNavegacionTemp presentation="time-date"
              (ionChange)="FechaInicioNavegacionTemp = popoverDatetimeFechaInicioNavegacionTemp.value;"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      

    
        <ion-item button="true" id="open-date-input-fechaFinTemp">
          <ion-label>Fecha de Fin</ion-label>
          <ion-text slot="end">{{ fechaFinTemp | date: 'dd/MM/yyyy HH:mm'  }}</ion-text>
          <ion-popover trigger="open-date-input-fechaFinTemp"  class="dateTimePopover" side="top" alignment="start"  
          show-backdrop="false" style="background: #00000059;">
            <ng-template>
              <ion-datetime displayFormat="DD/MM/YYYY HH:mm" showDefaultButtons=true  
               cancelText="cancelar" doneText="aceptar" locale="es-AR"
                #popoverDatetimefechaFinTemp presentation="time-date"
                (ionChange)="fechaFinTemp = popoverDatetimefechaFinTemp.value;"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Proa</ion-label>
          <ion-input formControlName="calado_Proa" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item> 
          <ion-label position="floating" class="labels">Popa</ion-label>
          <ion-input formControlName="calado_Popa" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Cabotaje</ion-label>
          <!-- <ion-input formControlName="cabotaje" type="text" required>
        </ion-input> -->
          <ion-checkbox formControlName="cabotaje"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Observación</ion-label>
          <ion-input formControlName="observacion" type="text" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Tara Bruta</ion-label>
          <ion-input formControlName="taraBruta" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Tara Neta</ion-label>
          <ion-input formControlName="taraNeta" type="number" required class="info-grid">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="labels">Canal</ion-label>
          <ion-input formControlName="canal" type="text" required class="info-grid">
          </ion-input>
        </ion-item>
        <ion-input type="hidden" formControlName="propietario"></ion-input>
        <ion-input type="hidden" formControlName="practico1"></ion-input>
        <ion-input type="hidden" formControlName="practico2"></ion-input>
        
        <ion-grid>
        <ion-row *ngIf="EsPropietario">
            <ion-col>
              <div id="container">
                <ion-button (click)="abrirDemora()" color="primary" class="bot-alt" size="full" style="" >Demoras</ion-button>
                <br>
                <p *ngIf="demoraDataResponse">{{demoraDataResponse}}</p>
              </div>
            </ion-col>
            <ion-col>
              <div id="container">
                <ion-button (click)="abrirManiobra()" color="primary" class="bot-alt" size="full" style="" >Maniobras</ion-button>
                <br>
                <p *ngIf="maniobraDataResponse">{{maniobraDataResponse}}</p>         
              </div>
            </ion-col>

        </ion-row>    
        </ion-grid>    
        <ion-grid>          
        <ion-row *ngIf="EsPropietario">

          <ion-col>
      
            
            <ion-button *ngIf="!mostrarEliminarFirmas"  (click)="Firmar('Master');"  class="bot-full"  [color]="firmomaster?'medium':'primary'"  >
              Firma Master
            </ion-button>
            <ion-button *ngIf="!mostrarEliminarFirmas" (click)="Firmar('Practico1');" class="bot-full" [color]="firmopractico1?'medium':'primary'"  >
              Firma Práctico 1
            </ion-button>
            <ion-button *ngIf="!mostrarEliminarFirmas" (click)="Firmar('Practico2');" class="bot-full"  [color]="firmopractico2?'medium':'primary'" >
              Firma Práctico 2
            </ion-button>

            <ion-button *ngIf="mostrarEliminarFirmas" (click)="LimpiarFirmas();" class="bot-full">
              Limpiar Firmas
            </ion-button>

            <ion-button type="submit" class="bot-full" color="success">
              Guardar y Sincronizar
            </ion-button>
          </ion-col>
        </ion-row>
  
        </ion-grid>  
      </form>

    </ion-list>

  </ng-template>
</ion-content>