/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* Author: Damián Díaz - Latika IT - Copyright 2022  *//*
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');*/
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
p {
    line-height: 0px;
}

ion-row {
    padding: 10px;
}
ion-tab-bar {
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(246,246,246,1) 100%);
    min-height: 60px;
}
ion-tab-button {
    background: none;
}
ion-card {
    margin: 0px;
}
/* ///// estilos solo para ios - DAMIAN \\\\\\ */
.ios .grid-cabecera {
  height: 120px; 
}
.ios .cabecera {
  margin: 40px 0px 0px -10px;
}
.ios .home-margin-top {
  margin-top: 40px;
}
.ios #card-servicio-interna{
  margin-top:30px;
}
.ios ion-checkbox {
  margin-top:30px;
}
.ios .ios-demoras-maniobras{
  margin-top:50px;
}
/* \\\\\\ estilos solo para ios - DAMIAN /////// */

.cabecera {
    padding: 0px;
    margin: 0px 0px 0px -10px; /* top right bottom left */
}
.grid-cabecera {
    background-color: #fff;
    width: 100%;
    height: 74px;
    box-shadow: 0px 5px 20px rgb(230, 230, 230); /* offset-x | offset-y | blur-radius | color */
}
.boton-volver {
    background: #1D2CFF;
    height: 55px;
    border-radius: 14px;
    margin-left: -14px;
    padding-left: 20px;
}
.volanta{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #7D7D7D;
    font-weight: 400;
}
.nombre-usuario{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #1D2CFF;
    text-transform: uppercase;
    font-weight: 700;
}
.nombre-editor{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 700;
}
.numero-servicio{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    color: #1D2CFF;
    font-weight: 700;
    margin-top: 40px;
}
#card-servicio{
    padding: 10px 15px;
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(246,246,246,1) 100%);
    border-radius: 14px;
    position: relative;
    right: -40px;
    margin-left: -40px;
    border: 1px solid #e7e7e7;
    width: 120%;
}
.labels{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #7D7D7D;
    font-weight: 400;
    text-transform: uppercase;
}
.grid-guardia{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
}
.version{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #1D2CFF;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
}
.card-buque{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid rgb(185 185 185);
    padding: 25px 0px;
    background-image: url("assets/img/ico-servicio.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35px;
    margin: -20px 15px 0px 0px; /* top right bottom left */
}
#card-servicio-interna{
    padding: 10px 15px;
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(246,246,246,1) 100%);
    border-radius: 14px;
    position: relative;
    right: 0px;
    margin-left: 15px;
    border: 1px solid #e7e7e7;
    width: 120%;
}
.card-buque-interna{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid rgb(185 185 185);
    padding: 5px 0px 0px 0px; /* top right bottom left */
    background-image: url("assets/img/ico-servicio.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35px;
    margin: -20px 95px 0px 0px; /* top right bottom left */
}
.card-buque-interna ion-input, .card-info-interna ion-input{
    margin-left: -8px;
}
.card-info-interna{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 0px 0px 0px; /* top right bottom left */
    margin: -20px 0px 0px 0px; /* top right bottom left */
}
.info-grid{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0px 0px 0px; /* top right bottom left */
    margin: -10px 0px 0px 0px; /* top right bottom left */
}
.card-info{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 500;
}
.card-mensajes {
    padding: 5px;
}
.botones-home {
    width: 100%;
    padding-top: 20px;
}
.bot-right{
    background-color: #1D2CFF;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    border-radius: 14px;
    position: absolute;
    right: -25px;
    text-align: left;
    border: 0px;
    padding: 20px 25px;
    margin: 20px 0px 20px 0px;
}
.bot-full{
    background-color: #1D2CFF;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    border-radius: 24px !important;
    height: 50px;
    border: 1px solid;
}
.bot-alt{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 24px !important;
    height: 50px;
    border: 1px solid;
}
.cab-line1{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #7D7D7D;
    font-weight: 400;
}
.cab-line2-servicio{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #1D2CFF;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 25px;
}
.cab-line2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #1D2CFF;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 25px;
}
.card-notificaciones-tit{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #19172F;
    text-transform: uppercase;
    font-weight: 700;
}
.card-notificaciones-txt{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #7D7D7D;
    font-weight: 400;
}
.card-notificaciones-det{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #7D7D7D;
    text-transform: uppercase;
    font-weight: 400;
}
.card-notificaciones-det-user{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #1D2CFF;
    text-transform: uppercase;
    font-weight: 700;
}
.card-notificaciones-div-footer {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(151, 151, 151);
}
// ion-popover.dateTimePopover {
//     --width: auto;
//     --offset-y: -100px;
// }
                                                                            ////////  MENU \\\\\\\\\
.menu-hola {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
}
.menu-hola-linea2 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
}
