<!--
  <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-grid>
    
    <ion-row>

      <div style="width: 100%;">
        <p class="volanta">Bienvenido</p>
        <p class="nombre-usuario">CACERES, PEDRO<!--MA--></p>
      </div>
      <div style="width: 100%;">
        <p class="volanta">Editor de Servicio</p>
        <p class="nombre-editor">CAMPETELLA, OSCAR<!--MA--></p>
      </div>

      <div style="width: 100%;">
        <p class="volanta">Servicio Asignado</p>
        <p class="numero-servicio">9434<!--MA--></p>
      </div>

      <div id="card-servicio">
        <p class="labels">Buque</p>
        <p class="card-buque">Theodore jr <!--MA--></p>
        <p class="labels">Desde</p>
        <p class="card-info">RADA SAN LORENZO<!--MA--></p>
        <p class="labels">Hasta</p>
        <p class="card-info">ZEYA<!--MA--></p>
      </div>

      <div class="botones-home">
        <button class="bot-right"> GUARDIA </button>
        <br><br><br><br>
        <button class="bot-right"> HISTÓRICO </button>
      </div>


    </ion-row>
  </ion-grid>
</ion-content>