<!--
  <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-grid>
    
    <ion-row>

      <div style="width: 100%;">
        <p class="volanta">Bienvenido</p>
        <p class="nombre-usuario">CACERES, PEDRO<!--MA--></p>
      </div>

   <div *ngIf="mensajeSinServicio!='';then mensajeContent else formContent">muestra elmensaje de no tiene servicio</div>
  <ng-template #mensajeContent>{{mensajeSinServicio}}</ng-template>
  <ng-template #formContent> 
      <div style="width: 100%;">
        <p class="volanta">Editor de Servicio</p>
        <p class="nombre-editor">CAMPETELLA, OSCAR<!--MA--></p>
      </div>

      <div style="width: 100%;">
        <p class="volanta">Servicio Asignado</p>
         <p class="numero-servicio">{{serviciodesdeApi.codigo}}</p>
      </div>

      <div id="card-servicio">
        <p class="labels">Buque</p>
        <p class="card-buque">{{serviciodesdeApi.buqueNombre}}</p>
        <p class="labels">Desde</p>
        <p class="card-info">{{serviciodesdeApi.lugarDesde}}</p>
        <p class="labels">Hasta</p>
        <p class="card-info">{{serviciodesdeApi.lugarHasta}}</p>
      </div>
      </ng-template>
      <div class="botones-home">
        <button class="bot-right"> GUARDIA </button>
        <br><br><br><br>
        <button class="bot-right"> HISTÓRICO </button>
      </div>


    </ion-row>
  </ion-grid>
</ion-content>